*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: Helvetica;
  scroll-behavior: smooth;
}

body{
  background-color: white;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

html{
  font-size: 62.5%;
}

.header{
  background: #3DB36b;
  left: 0;
  top: 0;
  width: 100%;
  padding: 15px;
  border-bottom: 4px solid #0f642f;
  }

.header h1{
  color: white;
  font-size: 5rem;
  text-align: center;
}

.container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  width: 100vw;
  min-height: 60vh;
  margin-top: 7rem;
  padding: 0 20px;
}

.card{
  width: 500px;
  display: inline-block;
  margin: 1% 1%;
  padding: 15px;
}

.card-1-image{
  width: 100%;
  height: 550px;
  background-image: url(assets/sneaker1.jpeg);
  background-position: center;
  background-size: cover;
}

.card-2-image{
  width: 100%;
  height: 550px;
  background-image: url(assets/sneaker2.jpeg);
  background-position: center;
  background-size: cover;
}

.card-3-image{
  width: 100%;
  height: 550px;
  background-image: url(assets/sneaker3.jpeg);
  background-position: center;
  background-size: cover;
}

.card-4-image{
  width: 100%;
  height: 550px;
  background-image: url(assets/sneaker4.jpeg);
  background-position: center;
  background-size: cover;
}

.card-5-image{
  width: 100%;
  height: 550px;
  background-image: url(assets/sneaker5.jpeg);
  background-position: right;
  background-size: cover;
}

.card-6-image{
  width: 100%;
  height: 550px;
  background-image: url(assets/sneaker6.jpeg);
  background-position: top;
  background-size: cover;
}

.buy-btn{
  background-color: #3DB36b;
  color: white;
  font-size: 2rem;
  border-style: none;
  padding: 15px;
  cursor: pointer;
  width: 100%;
  display: block;
  text-align: center;
  border-radius: 5px;
}

.buy-btn:hover{
  background-color: #0f642f;
  transition: 0.75s;
}

.container h1{
  margin-top: 10px;
  color: #3DB36b;
  font-size: 3rem;
  margin-bottom: 10px;
  text-align: left;
  padding-left: 7px;
  border-left: 5px solid #0f642f;
}

.container p{
  font-size: 2rem;
  text-align: left;
  margin-bottom: 10px;
}

.footer {
  margin-top: 20px;
  background-color: #3db36b;
  text-align: center;
  padding: 50px;
  color: #fff;
  border-top: 4px solid #0f642f;
}